{
  "presets": ["@babel/react", ["@babel/preset-typescript", {"allowNamespaces": true}]],
  "ignore": ["**/__snapshots__", "**/*.d.ts", "**/*.test.*"],
  "plugins": [
    "@babel/plugin-transform-typescript",
    "@babel/plugin-proposal-export-default-from",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
